<div class="front">
{{Original}}
<br><br>
<div class="examples">
{{#Examples}}
{{Examples}}
{{/Examples}}
</div>
<br><br>
<div class="definition">
{{#Definition}}
{{hint:Definition}}
{{/Definition}}
</div>
</div>
