.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
 display:flex;
 justify-content: center;
}

ol,ul {
 text-align: left;
 width: fit-content;
 margin: 0 auto;
}

.back, .front {
 margin: 0 auto;
 max-width: 600px;
 width: 90vw;
}

#qa {
 width:100%
}

.examples {
  color: green;
}

.definition {
  color: cornflowerblue;
}

pre.inline {
  display: inline-block;
  height: fit-content;
  margin: 0;
}
